mkdocs
mkdocs-git-revision-date-plugin 
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-jupyter
mkdocs-markmap
mkdocs-material
mkdocs-minify-plugin
mkdocs-pdf-export-plugin
mkdocs-plotly-plugin
mkdocstrings-python-legacy
plotly
pymdown-extensions