mkdocs
mkdocs-git-revision-date-plugin 
mkdocs-git-revision-date-localized-plugin
mkdocs-jupyter
mkdocs-material
mkdocs-pdf-export-plugin
mkdocs-plotly-plugin
mkdocstrings-python-legacy
plotly
pymdown-extensions